backports.functools-lru-cache
bottleneck
brotlipy
conda-content-trust
conda-libmamba-solver
exceptiongroup
importlib-metadata
ipykernel
matplotlib
mkl-fft
mkl-random
munkres
numexpr
pandas
pickleshare
pip-chill
pyqt5
pysocks
reportlab
ruamel.yaml
scikit-learn
sip
typing-extensions
win-inet-pton
